body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px;
}

header {
    text-align: left;
    margin-bottom: 80px;
    padding-left: 30px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.subtitle {
    color: var(--muted-text);
    font-size: 1.3rem;
    margin-top: 10px;
    font-weight: 300;
}

h2 {
    color: var(--text-color);
    margin-top: 60px;
    font-size: 1.8rem;
    font-weight: 700;
}

p {
    font-size: 1.15rem;
    margin-bottom: 25px;
    color: var(--light-text-color);
}

figure {
    margin: 50px 0;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption {
    color: var(--muted-text);
    font-size: 0.95rem;
    margin-top: 15px;
    font-style: italic;
}

section {
    margin-bottom: 80px;
}

hr {
    border: 0;
    border-top: 1px solid #444;
    margin: 40px 0;
}

a {
    color: var(--accent-color); 
    text-decoration: none;
}

footer p {
    font-size: 0.9rem; 
    color: var(--muted-text); 
    text-align: center;
}

ul {
    color:  var(--light-text-color); 
    font-size: 1.05rem; 
    margin-top: 20px; 
    padding-left: 20px; 
    line-height: 1.8;
}

ul li strong {
    color:  var(--light-text-color);
}